{% extends 'visits/base.html' %}

{% block tab_content %}

<h2>Статистика по страницам</h2>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Страница</th>
            <th>Количество посещений</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.path }} </td>
                <td>{{ record.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ url_for('visits.pages_stat', download_csv='True') }}">Экспорт в CSV</a>

{% endblock %}