body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* Чтобы занимал оставшееся пространство */
    flex-grow: 1;
}

footer {
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;
}
  

.avatar {
    max-width: 100%;
}

.footer {
    color: white;
}