{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="mt-3 text-center">{{ post.title }}</h1>
            <h6 class="text-center">{{ post.author }}, {{ post.date }}</h6>
            <img class="card-img-top post-img rounded mx-auto d-block my-3" src="{{ url_for('static', filename='images/' + post.image_filename) }}" alt="Card image cap">
            <div class="text-justify d-flex align-items-center">
            <p>{{ post.text }}</p>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Оставьте комментарий</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Отправить</button>
            <div class="m-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle" width="80" height="80" alt="Sample Image">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5>Jhon Carter <small class="text-muted"><i>Posted on January 10, 2021</i></small></h5>
                        <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0">
                                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle" width="80" height="80" alt="Sample Image">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Clark Kent <small class="text-muted"><i>Posted on January 12, 2021</i></small></h5>
                                <p>Thanks, you found this component useful. Don't forget to check out other Bootstrap components as well. They're also very useful.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}