{% extends 'base.html' %}

{% block content %}
    <h1>Посты</h1>
    <div class="row">
    {% for post in posts %}
            <div class="col-md-6 mb-5">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/' ~ post['image_filename']) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ post['title'] }}</h5>
                      <p class="card-text">{{ post['text'] | truncate(100) }}</p>
                      <a href="{{ url_for('post', index=loop.index0) }}" class="btn btn-primary">Читать дальше &rarr;</a>
                    </div>
                    <div class="card-footer">
                        Опубликовано {{ post['date'].strftime('%d.%m.%Y') }}. Автор {{ post['author'] }}.
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}