{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <input type="text" name="operand1" value="{{ request.form.operand1 }}">
        <select name="operation" id="operation">
            {% for op in operations %}
            <option {% if request.form.operation == op %}selected{% endif%}>{{ op }}</option>
            {% endfor %}
        </select>
        <input type="text" name="operand2" value="{{ request.form.operand2 }}">
        <button type="submit" class="btn btn-primary">=</button>
        <input type="text" value="{{ result or '' }}" disabled>
    </form>
    {% if request.method == 'POST' and error_msg %}
        <p style="color: red;">{{ error_msg }}</p>
    {% endif %}
{% endblock %}