{% extends 'base.html' %}

{% block content %}
<h1>Обработка данных формы</h1>

<form method="post">
    <div class="mb-3">
        <label for="theme">Тема</label>
        <input type="text" name="theme" id="theme" class="form-control" value="{{ request.form.theme }}">
    </div>

    <div class="mb-3">
        <label for="message">Сообщение</label>
        <textarea name="message" id="message" class="form-control" cols="30" rows="10">{{ request.form.message }}</textarea>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>

{{ request.form }}

{% if request.method == 'POST' %}
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for name, value in request.form.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endif %}
{% endblock %}